# basically from the karakeep repo
KARAKEEP_VERSION=release
NEXTAUTH_SECRET=[generate with <openssl rand -base64 36 | tr -dc 'A-Za-z0-9'>]
MEILI_MASTER_KEY=[generate with <openssl rand -base64 36>]
NEXTAUTH_URL=http://yggdrasil.mikulastik.live:8201
